.about
    display: flex
    flex-direction: column
    width: 1440px
    height: 520px
    padding: 80px 425px 100px 425px
    background: #FFFFFF
    text-align: center
    &__tittle
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 35px
    &__text
        margin: auto
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 20px
