.bean-insert
    display: flex
    justify-content: space-between
    margin: auto
    box-sizing: border-box
    width: 200px
    height: 30px
    &__coffee
        margin-left: 20px
        margin-right: 20px
    
    

