.coffee-list
    &__items-wrapper
        margin: auto
        width: 800px
        height: 580px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 20px
        align-items: center
    &__nav-buttons
        display: flex
        align-items: center
        justify-content: center
    &__button
        width: 75px
        height: 30px
        margin-left: 5px
        background: #FFFFFF
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25)
        border-radius: 4px
        border: none
